<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>柳緣-提示</title>
</head>

<body>
    <header style="justify-content: center; padding: 30px;">
        <h1>網站提示</h1>
    </header>
    <div class="container">
        <section class="message-section">
            <h1><%= title %></h1>
            <p><%= detail %></p>
        </section>

        <a class="button" href="/">回首頁</a>
    </div>
</body>

</html>
