<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>柳緣-故事</title>
</head>

<body style="background-color: #faf3f2;">
    <header id="story-page-header">
        <img id="story-page-circle" src="/circle.svg" style="z-index: 1;">
        <img id="story-page-logo" src="/logo.svg" style="z-index: 2;">
    </header>
    <p class="container" id="story-page-quote">
        「人的一生中，會死去三次。而第三次死亡，是這個世界上最後一個記得你的人，把你忘記。整個宇宙將不再和你有關。」—David Eagleman<br /><br />
        倘若如此，那我希望你能記得我。
    </p>
    <div class="container" id="story-section">
        <div>
            <img id="story-photo" src="<%= image %>" alt="<%= title %>">
        </div>
        <h2><%= title %></h2>
        <p style="margin-bottom: 50px;"><%= story %></p>
        <a class="button" href="/form-page.html">留下回憶</a>
        <a class="button" href="/">進入虛擬樹</a>
    </div>
    <div style="position: relative;">
        <img class="wave" src="/wave5.svg" style="bottom: 0; left: 50%; transform: translate(-50%, 25%); z-index: -1;">
    </div>
</body>

</html>
